@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background: linear-gradient(to right top, hsl(220, 69%, 79%), hsl(316, 89%, 87%));
    width: 50%;
    height: 100dvh;
  }
}
